// Header
.header {   
    position: relative;
    height: 81px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 36px;
    &__right-side {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__line {
        position: absolute;
        left: 0;
        right: 0;
        top: 81px;
        height: 1px;
        background: #6f7e9e;
        margin: 0 -20px;
    }
}
.logo {
    text-decoration: none;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    text-transform: uppercase;
    color: #31436a;
    &:hover {
        transform: scale(1.1);
    }
}
.btn {
    cursor: pointer;
    outline: none;
    user-select: none;
    display: flex;
    border: none;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    height: 39px;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    text-transform: uppercase;
    color: #fff;
    background: #021747;
    &--header {
        width: 119px;
        display: none;
    }
    &:hover {
        filter: opacity(0.8);
    }
}
.burger-menu {
    position: relative;
    &__icon {
        width: 81px;
        height: 81px;
        cursor: pointer;
        user-select: none;
        background: url(../images/icon-menu-burger.svg)center no-repeat;
    }
    &__text {
        font-weight: 900;
        font-size: 26px;
        line-height: 32px;
        text-transform: uppercase;
        color: #d9dde7;
        transform: rotate(90deg);
        display: none;
        user-select: none;
    }
    &__line {
        background: #6f7e9e;
        width: 1px;
        height: 100vh;
        display: none;
    }
    &__dropdown {
        width: 320px;
        height: auto;
        background: #fff;
        position: absolute;
        top: 81px;
        border-top: 1px solid #6f7e9e;
        border-bottom: 1px solid #6f7e9e;
        right: -20px;
        display: none;
        z-index: 1;
    }
    &__link {
        margin: 20px 0;
        text-decoration: none;
        color: #d9ddE7;
        font-weight: 700;
        font-size: 14px;
        line-height: 17px;
        text-transform: uppercase;
    }
    &__link:hover {
        color: #021747;
    }
    &__icon:hover {
        background: url(../images/icon-menu-burger-active.svg)center no-repeat;
    }
    &__icon:hover~&__dropdown,
    &__dropdown:hover {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    &__dropdown:hover~&__text,
    &__text:hover {
        color: #021747;
    }
}