@media screen and (min-width: 700px)
    .btn--header
        display: flex
    .burger-menu__icon 
        margin-left: 48px
@media screen and (min-width: 1024px) 
    .btn--header
        margin-right: 90px
    .header__line
        display: none
    .burger-menu 
        position: fixed
        right: 0
        top: 0
        bottom: 0
        display: flex
        flex-direction: column
        justify-content: center
        &__icon
            margin-left: 0
            padding-bottom: 30px
        &__line 
            display: inline-block
            position: absolute
            right: 81px
        &__text 
            display: inline-block
        &__dropdown 
            right: 81px
            top: 0
            bottom: 0
            border-top: none
            border-right: 1px solid #6f7e9e
            border-left: 1px solid #6f7e9e
            border-bottom: none
