body {
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
}
.master-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}
.narrow-container {
    max-width: 940px;
    margin: 0 auto;
}
%title {
    font-weight: 900;
    font-size: 26px;
    line-height: 32px;
    text-transform: uppercase;
    color: #021747;
    margin-bottom: 10px;
}
%text {
    font-weight: normal;
    font-size: 16px;
    line-height: 30px;
    color: #6a7798;
}
// MASTER CONTAINER MEDIA
@import 'media_master_container';
// HEADER
@import 'header';
@import 'media_header';
// CRUMBLES
@import 'crumbles';
// PROMO
@import 'promo';
@import 'media_promo';
// GRID WIDE
@import 'grid_wide';
@import 'media_grid_wide';
// GRID NARROW
@import 'grid_narrow';
// FORM CONTACT US
@import 'form_contact_us';
@import 'media_form_contact_us';
// PROMO BOTTOM
@import 'promo_bottom';

