body {
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
}

.master-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.narrow-container {
  max-width: 940px;
  margin: 0 auto;
}

.header {
  position: relative;
  height: 81px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 36px;
}
.header__right-side {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__line {
  position: absolute;
  left: 0;
  right: 0;
  top: 81px;
  height: 1px;
  background: #6f7e9e;
  margin: 0 -20px;
}

.logo {
  text-decoration: none;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  text-transform: uppercase;
  color: #31436a;
}
.logo:hover {
  transform: scale(1.1);
}

.btn {
  cursor: pointer;
  outline: none;
  user-select: none;
  display: flex;
  border: none;
  text-decoration: none;
  justify-content: center;
  align-items: center;
  height: 39px;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  text-transform: uppercase;
  color: #fff;
  background: #021747;
}
.btn--header {
  width: 119px;
  display: none;
}
.btn:hover {
  filter: opacity(0.8);
}

.burger-menu {
  position: relative;
}
.burger-menu__icon {
  width: 81px;
  height: 81px;
  cursor: pointer;
  user-select: none;
  background: url(../images/icon-menu-burger.svg) center no-repeat;
}
.burger-menu__text {
  font-weight: 900;
  font-size: 26px;
  line-height: 32px;
  text-transform: uppercase;
  color: #d9ddE7;
  transform: rotate(90deg);
  display: none;
}
.burger-menu__line {
  background: #6f7e9e;
  width: 1px;
  height: 100vh;
  display: none;
}
.burger-menu__dropdown {
  width: 320px;
  height: auto;
  background: #fff;
  position: absolute;
  top: 81px;
  border-top: 1px solid #6f7e9e;
  border-bottom: 1px solid #6f7e9e;
  right: -20px;
  display: none;
  z-index: 1;
}
.burger-menu__link {
  margin: 20px 0;
  text-decoration: none;
  color: #d9ddE7;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  text-transform: uppercase;
}
.burger-menu__link:hover {
  color: #021747;
}
.burger-menu__icon:hover {
  background: url(../images/icon-menu-burger-active.svg) center no-repeat;
}
.burger-menu__icon:hover ~ .burger-menu__dropdown, .burger-menu__dropdown:hover {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media screen and (min-width: 700px) {
  .btn--header {
    display: flex;
  }

  .burger-menu__icon {
    margin-left: 48px;
  }
}
@media screen and (min-width: 1024px) {
  .btn--header {
    margin-right: 90px;
  }

  .header__line {
    display: none;
  }

  .burger-menu {
    position: fixed;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .burger-menu__icon {
    margin-left: 0;
    padding-bottom: 30px;
  }
  .burger-menu__line {
    display: inline-block;
    position: absolute;
    right: 81px;
  }
  .burger-menu__text {
    display: inline-block;
  }
  .burger-menu__dropdown {
    right: 81px;
    top: 0;
    bottom: 0;
    border-top: none;
    border-right: 1px solid #6f7e9e;
    border-left: 1px solid #6f7e9e;
    border-bottom: none;
  }
}
.crumbles {
  max-width: 210px;
  display: flex;
  justify-content: space-between;
}
.crumbles__link {
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #021747;
  opacity: 0.5;
  user-select: none;
}
.crumbles__link:nth-child(odd):hover {
  transform: scale(1.1);
  opacity: 1;
}

/*# sourceMappingURL=styles.css.map */
